.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
}

.active {
  height: 60px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

.Hamburger {
    display: none;
}

.navbar-logo {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 7.5px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  
}

.nav-item {
  display: block;
  position: relative;
  color: #004289;
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: 500;
}

.nav-links {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: #007bff;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 860px) {
    .nav-menu {
        display: none;
    }

    .navbar-logo {
      margin-left: 0px;
    }
    
    .Hamburger {
        display: block;
        position: fixed;
        padding-top: 5px;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #000;
    }
}